.resultsContainer{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color : rebeccapurple;
    border-radius: 10px;
    min-height: 300px;
}
.actionButton{
    border-radius: 5px;
    border-style: solid;
    border-color : rebeccapurple;
}
.firstButton{
    margin-left: auto;
}