#pageMargiin{
	margin-left : 10%;
}
#box{
	border: 2px solid black; 
	width: 70%;
}
#insideBox{
	margin-left : 3%;
	margin-top:2%; 
	margin-bottom: 2%
}
#textMargin{
	margin-left : 2%;
}
#theTable{
	max-width:70%
}
#Intr{
	width:50px;
	text-align:center;
}
#Intd{
	text-align:center;
}